
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --second-text-color:#252B42; 
    --primary-color: #FF7B47; 


 }

 body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
/* la parte del navrgador*/ 
#navs{
    display: flex ;
    padding-left: 100px;
    align-items: center; /* aliniamos los link donde esta en este caso h1*/
    
}
/*modificar las letras de link*/
#links a{
    color:var(--second-text-color); 
    margin-right: 20px; /*dando espacios a cada link*/ 
    text-decoration: none; /* quita las lineas*/ 
    font-weight: 600; /* lo hace un poc mas anchito */ 
}

/*modificamos todo un conjunto*/
#links{  
   
    display: flex;
    align-items: center;
    height: 100px;
    width: 100px;
    padding-left: 150px;
  
}
/*correguiendo letra de nav*/ 
#seccion1 >#navs>h1{
    color:#252B42; 
    padding-left: 90px;
    font-weight: 700;
    font-size: 24px;
}
/*iconico de la rellita*/ 
#i{
    padding-left: 930px;
    
}
/*la imagen principal*/ 
body{
    background: url(/principal.svg);
    background-color: #FAFAFA;
   background-size: 100%;
   background-repeat: no-repeat;
}


/*todo un conjunto de sect1*/ 
#sect1{
    padding-top: 140px;  /* ayuda a ubicar acordate de llevar a un lado*/ 
    padding-left: 190px;
    height: 150px; /*ancho de cuadrito*/ 
    width: 410px;
    display: flex;
    flex-direction: column;
}

/* entrando a h1 en sect1*/
#seccion1>#sect1>h1{
    color:#252B42;
    font-size: 58px;
    font-weight: 800;
    font-size: 58px;
}
/* entrando a los parrafitos*/ 
#seccion1>#sect1>p{
    color:#737373; 
    font-weight: 500;
    font-size: 20px; 
    margin: 5px;
    
    
}
/*modificando el primer boton*/ 

#botones{
    padding-top: 0px !important;
    margin-top: 30px;
    display: flex;
}
#b1{
    background-color: #FF7B47;
    border-radius: 25px;
    border-color: transparent;
    color: white;
    height: 48px;
    width: 180px;
    font-weight: bold;
    margin-right: 5px;
   
}
#b2{
    background-color: transparent;
    border-radius: 25px;
    color: #0D5C63; 
    border-color: #0D5C63;
    height: 48px;
    width: 180px;
    font-weight: bold;
}

#cuadrados{
    display: flex;
}
/*caja1*/
.di{
    height: 242px;
    width: 348px;
    background-color:#FAFAFA;
    margin-top: 350px; /*donde pueda manejarce*/
    margin-left: 190px;
    box-shadow: 0px 0px 18px 0px rgb(0 0 0 / 11%);
}
/*caja2*/
#di2{
    background-color: #FAFAFA;
    margin-top: 350px;
    margin-left: 30px;
    height: 242px;
    width: 348px; /*ancho  y alto*/
    box-shadow: 0px 0px 18px 0px rgb(0 0 0 / 11%);
}

#di3{
    margin-top: 350px;
    margin-left: 30px;
    background-color: #0D5C63
    ;
    height: 242px;
    width: 348px;
    box-shadow: 0px 0px 18px 0px rgb(0 0 0 / 11%);
}

#ico1{
    margin-top: 35px;
    margin-left: 40px;
}

.di h3{
    margin-left:40px ;
    font-size: 24px;
    font-weight: 700;
    color: #252B42;
    margin-bottom: 0;
    margin-top: 28px;
}

#nose{
    margin-top: 0;

}
.di p{
    margin-left:40px ;
    margin-bottom: 0;
    color: #737373;
    font-size: 14px; 
    font-weight: 500;
}
#pp{
    margin-top: 0;
}
#di2 h3{
    margin-left:40px ;
    font-size: 24px;
    color: #252B42;
    margin-bottom: 0;
    font-weight: 700;
}
#di2 p{
    margin-left:40px ;
    margin-bottom: 0;
    color: #737373;
    font-size: 14px; 
    font-weight: 500;
}
#di3 h3{
    margin-left:40px ;
    font-size: 24px;
    color: #FAFAFA;
    margin-bottom: 0;
    font-weight: 700;

}
#di3 p{
    margin-left:40px ;
    margin-bottom: 0;
    color: #FAFAFA;
    font-size: 14px; 
    font-weight: 500;

}

/*seccion dos*/ 
/*texto medio*/ 
#seccion2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#seccion2 h2{
    font-weight: 700;
    font-size: 40px;
    color: #252B42;
    margin-bottom: 15px;
   }
#seccion2 p{
    margin-bottom: 0;
    margin-top: 0;
    color: #737373;
    font-weight: 500;
    font-size: 14px;
}

.s{
    display: flex;
    margin-top: 50px;
    margin-left: 195px;
}

.o{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 40px;
    height: 209px;
    width: 241px;
    background-color: white;
    box-shadow: 0px 0px 18px 0px rgb(0 0 0 / 11%);
}
.o img{
    margin-top: 30px;
}
.o h2{
    color: #252B42;
    font-weight: 700;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 0;
}
.o h5{
    margin-top: 10px;
    color: #737373;
    font-size: 16px;
    font-weight: 700;
}
